name: Deploy to Canadad API - dooe-backend-api

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**' 
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: dooe-backend-api # Your Azure Web App name
  AZURE_WEBAPP_PACKAGE_PATH: 'backend' # Path to your backend project
  PYTHON_VERSION: '3.12' # Python version

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/requirements.txt

      - name: Upload backend artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download backend artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .
      - name: Deploy to Azure Web App using publish profile
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE-CANADA1 }} # Ensure this secret is set in GitHub Secrets
          package: . 
