name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Step 3: Build the Docker image
      - name: Build Docker Image
        run: |
          docker build -t alvingeorge/qpather:latest ./backend

      # Step 4: Push the Docker image to Docker Hub (since it's public, no authentication needed)
      - name: Push Docker Image
        run: |
          docker push alvingeorge/qpather:latest

      # Step 5: Clean up local Docker images
      - name: Clean up Docker images
        run: docker rmi alvingeorge/qpather:latest || true
